:root {
  font-family: system-ui, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;

  width: 100vw;
}

#app {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 100vh;
}

#drawing-board {
  position: absolute;
  top: 0;
  left: 0;

  touch-action: none;
}

#debug {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}
